<a href="https://colab.research.google.com/github/ramya1807/Hospital-Playlist/blob/main/Project_Data_Cleaning_(master_data).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Suzanne

**Legend for the processed data files**



*   master_new.csv
    *   Cleaned master data file 
    *   Each entry: survey respondent and their corresponding mental health indicators, 1 song choice and their corresponding song features
*   data_cleaned.csv
    *   Removed columns that will not be needed for data visualization and modelling (ie. id, song name, artist name)
*   data_cleaned2.csv
    *   data_cleaned.csv file, but with categorical variables (except genres) converted to int8 data type
    *   To be used for modelling

# Preliminary stuff

## Import libraries

In [2]:
import numpy as np # library for numerical calculations
import pandas as pd # library for reading csv files

## Load data

First, upload the relevant data files to the workspace.

*   master.csv
*   songs_list.csv

In [3]:
master = pd.read_csv('master.csv') # loading dataset
songs_list = pd.read_csv('songs_list.csv')

# remove NA entries
#master = master.dropna()

master # 235 rows

               timestamp  gender  ... popularity health_categorical
0    05/11/2016 14:34:00    Male  ...  71.500000                1.0
1    05/11/2016 14:45:26    Male  ...  65.000000                1.0
2    05/11/2016 14:45:41  Female  ...  63.500000                1.0
3    05/11/2016 14:45:55    Male  ...  60.333333                1.0
4    05/11/2016 14:49:15  Female  ...   3.000000                0.0
..                   ...     ...  ...        ...                ...
230  08/11/2016 11:48:52  Female  ...  69.000000                1.0
231  08/11/2016 12:02:50    Male  ...  27.000000                0.0
232  08/11/2016 12:38:19  Female  ...  62.000000                1.0
233  08/11/2016 19:39:43  Female  ...  75.333333                0.0
234  12/12/2016 18:59:19    Male  ...  53.000000                1.0

[235 rows x 24 columns]

# Format the data

## One song per entry

Convert dataframe to have **one song per entry** and the song metrics/details of the one song (ie. each participant appears 3 times, once for each song, the participants’ gender/age group/mental health details also appear 3 times to account for each song).

In [4]:
# save versions of the dataframe in which only one of the three song columns remain 
# (no changes are made to all other columns)

# only song 1 entries in dataframe
df_song1 = master.drop(columns=['song2', 'song3'])
df_song1 = df_song1.rename(columns={"song1": "songs"})       # rename song1 column to song
df_song1['song_order'] = 1     # column added to keep track of whether this is song1, song2 or song3
df_song1.head() 

df_song2 = master.drop(columns=['song1', 'song3'])
df_song2.rename(columns={"song2": "songs"})
df_song2 = df_song2.rename(columns={"song2": "songs"})
df_song2['song_order'] = 2     
df_song2.head() 

df_song3 = master.drop(columns=['song1', 'song2'])
df_song3 = df_song3.rename(columns={"song3": "songs"})
df_song3['song_order'] = 3     
df_song3.head()

             timestamp  gender  ... health_categorical song_order
0  05/11/2016 14:34:00    Male  ...                1.0          3
1  05/11/2016 14:45:26    Male  ...                1.0          3
2  05/11/2016 14:45:41  Female  ...                1.0          3
3  05/11/2016 14:45:55    Male  ...                1.0          3
4  05/11/2016 14:49:15  Female  ...                0.0          3

[5 rows x 23 columns]

In [5]:
# combine the 3 dataframes (each with only one song per row entry) into a new dataframe (master_new)

master_new = df_song1.append(df_song2, ignore_index=True)
master_new = master_new.append(df_song3, ignore_index=True)
master_new     # 705 rows = 235 x 3

               timestamp  gender  ... health_categorical song_order
0    05/11/2016 14:34:00    Male  ...                1.0          1
1    05/11/2016 14:45:26    Male  ...                1.0          1
2    05/11/2016 14:45:41  Female  ...                1.0          1
3    05/11/2016 14:45:55    Male  ...                1.0          1
4    05/11/2016 14:49:15  Female  ...                0.0          1
..                   ...     ...  ...                ...        ...
700  08/11/2016 11:48:52  Female  ...                1.0          3
701  08/11/2016 12:02:50    Male  ...                0.0          3
702  08/11/2016 12:38:19  Female  ...                1.0          3
703  08/11/2016 19:39:43  Female  ...                0.0          3
704  12/12/2016 18:59:19    Male  ...                1.0          3

[705 rows x 23 columns]

## Sort data

In [6]:
# sort the data by id
master_new = master_new.sort_values(['id', 'song_order'])
master_new

               timestamp  gender  ... health_categorical song_order
0    05/11/2016 14:34:00    Male  ...                1.0          1
235  05/11/2016 14:34:00    Male  ...                1.0          2
470  05/11/2016 14:34:00    Male  ...                1.0          3
1    05/11/2016 14:45:26    Male  ...                1.0          1
236  05/11/2016 14:45:26    Male  ...                1.0          2
..                   ...     ...  ...                ...        ...
468  08/11/2016 19:39:43  Female  ...                0.0          2
703  08/11/2016 19:39:43  Female  ...                0.0          3
234  12/12/2016 18:59:19    Male  ...                1.0          1
469  12/12/2016 18:59:19    Male  ...                1.0          2
704  12/12/2016 18:59:19    Male  ...                1.0          3

[705 rows x 23 columns]

# Merge data

Merge song features into new master file/dataframe 
*   So song features correspond to individual songs (instead of having them averaged out over the 3 songs each person chooses)

## Prep data for merging

In [7]:
# remove averaged song features from master_new (will replace these values from the other data file)

to_exclude = ['energy',
              'dance',
              'liveness',
              'valence',
              'tempo',
              'instrumental',
              'acoustic',
              'popularity'
              ]

master_new = master_new.drop(columns=to_exclude) 

master_new

               timestamp  gender  ... health_categorical song_order
0    05/11/2016 14:34:00    Male  ...                1.0          1
235  05/11/2016 14:34:00    Male  ...                1.0          2
470  05/11/2016 14:34:00    Male  ...                1.0          3
1    05/11/2016 14:45:26    Male  ...                1.0          1
236  05/11/2016 14:45:26    Male  ...                1.0          2
..                   ...     ...  ...                ...        ...
468  08/11/2016 19:39:43  Female  ...                0.0          2
703  08/11/2016 19:39:43  Female  ...                0.0          3
234  12/12/2016 18:59:19    Male  ...                1.0          1
469  12/12/2016 18:59:19    Male  ...                1.0          2
704  12/12/2016 18:59:19    Male  ...                1.0          3

[705 rows x 15 columns]

In [8]:
# remove unwanted columns from songs_list

to_exclude = ['Unnamed: 0', 
              'Unnamed: 0.1', 
              'Unnamed: 0.1.1',
              'instrumetnal']     # remove the wrongly spelled column

songs_list_new = songs_list.drop(columns=to_exclude) 

songs_list_new

      id  ...                                             genres
0      1  ...  ['hip hop', 'pop', 'pop rap', 'rap', 'southern...
1      3  ...                            ['k-pop', 'korean r&b']
2      3  ...     ['k-hop', 'k-pop', 'korean pop', 'korean r&b']
3      3  ...     ['k-hop', 'k-pop', 'korean pop', 'korean r&b']
4      4  ...                ['peruvian indie', 'peruvian rock']
..   ...  ...                                                ...
541  227  ...  ['hip hop', 'memphis hip hop', 'rap', 'souther...
542  227  ...  ['hip hop', 'memphis hip hop', 'rap', 'souther...
543  229  ...                             ['australian hip hop']
544  230  ...                                ['pop', 'pop rock']
545  231  ...         ['mellow gold', 'rock drums', 'soft rock']

[546 rows x 13 columns]

## Merge in additional data columns

In [9]:
# join the dataframes by the songs column

# if we are excluding the id from songs_list, merge with songs_list_new instead

master_new = master_new.join(songs_list_new.set_index('songs'), 
                                  on='songs', 
                                  lsuffix = '_master',
                                  rsuffix = '_song')
master_new

               timestamp  ...                                             genres
0    05/11/2016 14:34:00  ...  ['canadian hip hop', 'canadian pop', 'hip hop'...
235  05/11/2016 14:34:00  ...                                                NaN
470  05/11/2016 14:34:00  ...                                                NaN
1    05/11/2016 14:45:26  ...  ['hip hop', 'rap', 'southern hip hop', 'trap',...
236  05/11/2016 14:45:26  ...                                                NaN
..                   ...  ...                                                ...
468  08/11/2016 19:39:43  ...                           ['pop', 'post-teen pop']
703  08/11/2016 19:39:43  ...       ['dance pop', 'pop', 'post-teen pop', 'r&b']
234  12/12/2016 18:59:19  ...  ['brill building pop', 'bubblegum pop', 'class...
469  12/12/2016 18:59:19  ...                               ['dance pop', 'pop']
704  12/12/2016 18:59:19  ...  ['australian alternative rock', 'indietronica'...

[705 rows x 27 columns]

# Data cleaning

## Remove unneeded columns and rows

In [10]:
# remove other unneeded columns 
# do we want to drop the 'id_master' and 'id_song'?
to_exclude = ['timestamp']

master_new = master_new.drop(columns=to_exclude) 

# remove NA entries (rows with blanks)
# check if we are ok with certain columns having NA entries (eg. song name or artist name?)
# if so, need to code for exceptions to the removal of NA entries
master_new = master_new.dropna(axis=0)  # drop rows with NA entries

master_new   # 551 rows

     gender  ...                                             genres
0      Male  ...  ['canadian hip hop', 'canadian pop', 'hip hop'...
1      Male  ...  ['hip hop', 'rap', 'southern hip hop', 'trap',...
471    Male  ...  ['hip hop', 'pop', 'pop rap', 'rap', 'southern...
2    Female  ...  ['canadian pop', 'indie poptimism', 'modern al...
3      Male  ...                            ['k-pop', 'korean r&b']
..      ...  ...                                                ...
468  Female  ...                           ['pop', 'post-teen pop']
703  Female  ...       ['dance pop', 'pop', 'post-teen pop', 'r&b']
234    Male  ...  ['brill building pop', 'bubblegum pop', 'class...
469    Male  ...                               ['dance pop', 'pop']
704    Male  ...  ['australian alternative rock', 'indietronica'...

[551 rows x 26 columns]

## Reset index

In [11]:
# reset the index to tidy the data
master_new = master_new.set_index(np.arange(len(master_new.index)))

master_new

     gender  ...                                             genres
0      Male  ...  ['canadian hip hop', 'canadian pop', 'hip hop'...
1      Male  ...  ['hip hop', 'rap', 'southern hip hop', 'trap',...
2      Male  ...  ['hip hop', 'pop', 'pop rap', 'rap', 'southern...
3    Female  ...  ['canadian pop', 'indie poptimism', 'modern al...
4      Male  ...                            ['k-pop', 'korean r&b']
..      ...  ...                                                ...
546  Female  ...                           ['pop', 'post-teen pop']
547  Female  ...       ['dance pop', 'pop', 'post-teen pop', 'r&b']
548    Male  ...  ['brill building pop', 'bubblegum pop', 'class...
549    Male  ...                               ['dance pop', 'pop']
550    Male  ...  ['australian alternative rock', 'indietronica'...

[551 rows x 26 columns]

# Export data into new file (master_new.csv)

In [12]:
master_new.to_csv('master_new.csv', index_col = False)

# Prep data for modelling (data_cleaned.csv and data_cleaned2.csv)

In [16]:
# remove unneeded columns: id, song order number, song names and artist names

#master_new = pd.read_csv('master_new.csv')

to_exclude = ['songs',
              'song',
              'artist', 
              'id_master', 
              'id_song',
              'song_order'
              ]     

data_cleaned = master_new.drop(columns=to_exclude)

data_cleaned.to_csv('data_cleaned.csv', index_col = False)

In [17]:
# check data types

data_cleaned.dtypes

gender                 object
age                    object
amount_music           object
life_enjoyment          int64
resilience              int64
balanced_life           int64
emotional_flex          int64
self_actualization      int64
trauma                 object
total_health            int64
health_categorical    float64
energy                float64
dance                 float64
liveness              float64
valence               float64
tempo                 float64
instrumental          float64
acoustic              float64
popularity            float64
genres                 object
dtype: object

In [18]:
# convert the data type for categorical variables

cat_data = ['gender', 
            'age', 
            'amount_music', 
            'trauma']

# we will not convert the genre column, as we will use textual analysis for the genres

for i in cat_data:
    data_cleaned[i] = pd.Categorical(data_cleaned[i]);
    data_cleaned[i] = data_cleaned[i].cat.codes

data_cleaned.dtypes

gender                   int8
age                      int8
amount_music             int8
life_enjoyment          int64
resilience              int64
balanced_life           int64
emotional_flex          int64
self_actualization      int64
trauma                   int8
total_health            int64
health_categorical    float64
energy                float64
dance                 float64
liveness              float64
valence               float64
tempo                 float64
instrumental          float64
acoustic              float64
popularity            float64
genres                 object
dtype: object

In [19]:
# save a version of data to be used for data visualization and modelling

data_cleaned.to_csv('data_cleaned2.csv', index_col = False)