<a href="https://colab.research.google.com/github/ramya1807/Hospital-Playlist/blob/main/Project_Data_Cleaning_(master_data).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Suzanne

**Task: Clean up master.csv data merge in newly extracted data and save all under a new data file master_new.csv**

*   Convert dataframe to have one song per entry and the song metrics/details of the one song (ie. each participant appears 3 times, once for each song, the participantsâ€™ gender/age group/mental health details also appear 3 times to account for each song)
*   Merge song features into new master file/dataframe 
    *   So song features correspond to individual songs (instead of having them averaged out over the 3 songs each person chooses)

*   Remove columns with averaged song features
*   Remove entries whose songs are not in the songs_list.csv (ie. exclude songs that were removed due to lack of entries)
*   Remove rows with blanks

# Preliminary stuff

## Import libraries

In [1]:
import numpy as np # library for numerical calculations
import pandas as pd # library for reading csv files

## Load data

First, upload the relevant data files to the workspace.

*   master.csv
*   songs_list.csv

In [2]:
master = pd.read_csv('data/master.csv') # loading dataset
songs_list = pd.read_csv('data/songs_list.csv')

# remove NA entries
#master = master.dropna()

master # 235 rows

,timestamp,gender,age,amount_music,life_enjoyment,resilience,balanced_life,emotional_flex,self_actualization,song1,...,total_health,energy,dance,liveness,valence,tempo,instrumental,acoustic,popularity,health_categorical
0,05/11/2016 14:34:00,Male,18 - 30,1 - 2,4,3,5,3,6,Too Good Drake,...,21,0.633000,0.655000,0.110000,0.571500,98.368000,0.000025,0.281600,71.500000,1.0
1,05/11/2016 14:45:26,Male,18 - 30,1 - 2,6,6,3,5,5,Put that on my set asap rocky ft skepta,...,25,0.655000,0.526000,0.116000,0.156000,121.127000,0.000000,0.056600,65.000000,1.0
2,05/11/2016 14:45:41,Female,18 - 30,0 - 1,5,5,4,4,5,Fireproof Coleman Hell,...,23,0.745500,0.742000,0.183500,0.618500,125.009000,0.000023,0.053800,63.500000,1.0
3,05/11/2016 14:45:55,Male,18 - 30,2+,3,6,5,5,5,Eyes Nose Lips TaeYang,...,24,0.739000,0.681667,0.148900,0.596000,113.576000,0.000001,0.348867,60.333333,1.0
4,05/11/2016 14:49:15,Female,18 - 30,0 - 1,2,5,2,1,5,Sugar Wanderlust,...,15,0.539000,0.513000,0.215500,0.291500,122.460500,0.464350,0.599500,3.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,08/11/2016 11:48:52,Female,18 - 30,0 - 1,5,5,3,5,5,When I see you again Charlie Puth,...,23,0.519500,0.555000,0.113350,0.321000,112.020500,0.001250,0.523000,69.000000,1.0
231,08/11/2016 12:02:50,Male,18 - 30,1 - 2,2,3,4,3,3,Light up the sky the Afters,...,15,0.635500,0.520500,0.210300,0.498500,115.990000,0.016350,0.015955,27.000000,0.0
232,08/11/2016 12:38:19,Female,18 - 30,0 - 1,4,5,4,5,5,Reaper Sia,...,23,0.738333,0.686000,0.283033,0.778667,99.346667,0.060037,0.017473,62.000000,1.0
233,08/11/2016 19:39:43,Female,18 - 30,2+,0,3,3,1,1,fake love drake,...,8,0.633000,0.800333,0.392467,0.638000,119.664333,0.000005,0.047067,75.333333,0.0
234,12/12/2016 18:59:19,Male,18 - 30,2+,5,5,5,6,6,Crystal Blue Persuasion Tommy James,...,27,0.521333,0.549000,0.140700,0.591333,112.479333,0.003218,0.236667,53.000000,1.0

# Format the data

## One song per entry

Convert dataframe to have **one song per entry** and the song metrics/details of the one song (ie. each participant appears 3 times, once for each song, the participantsâ€™ gender/age group/mental health details also appear 3 times to account for each song).

In [3]:
# save versions of the dataframe in which only one of the three song columns remain 
# (no changes are made to all other columns)

# only song 1 entries in dataframe
df_song1 = master.drop(columns=['song2', 'song3'])
df_song1 = df_song1.rename(columns={"song1": "songs"})       # rename song1 column to song
df_song1['song_order'] = 1     # column added to keep track of whether this is song1, song2 or song3
df_song1.head() 

df_song2 = master.drop(columns=['song1', 'song3'])
df_song2.rename(columns={"song2": "songs"})
df_song2 = df_song2.rename(columns={"song2": "songs"})
df_song2['song_order'] = 2     
df_song2.head() 

df_song3 = master.drop(columns=['song1', 'song2'])
df_song3 = df_song3.rename(columns={"song3": "songs"})
df_song3['song_order'] = 3     
df_song3.head()

,timestamp,gender,age,amount_music,life_enjoyment,resilience,balanced_life,emotional_flex,self_actualization,songs,...,energy,dance,liveness,valence,tempo,instrumental,acoustic,popularity,health_categorical,song_order
0,05/11/2016 14:34:00,Male,18 - 30,1 - 2,4,3,5,3,6,Don't Wanna Know Maroon5 Kendrick Lamar,...,0.6330,0.655000,0.1100,0.5715,98.3680,0.000025,0.281600,71.500000,1.0,3
1,05/11/2016 14:45:26,Male,18 - 30,1 - 2,6,6,3,5,5,New level asap ferg,...,0.6550,0.526000,0.1160,0.1560,121.1270,0.000000,0.056600,65.000000,1.0,3
2,05/11/2016 14:45:41,Female,18 - 30,0 - 1,5,5,4,4,5,This Girl Kungs vs Cookin' on 3 Burners,...,0.7455,0.742000,0.1835,0.6185,125.0090,0.000023,0.053800,63.500000,1.0,3
3,05/11/2016 14:45:55,Male,18 - 30,2+,3,6,5,5,5,Aquaman Jay Park,...,0.7390,0.681667,0.1489,0.5960,113.5760,0.000001,0.348867,60.333333,1.0,3
4,05/11/2016 14:49:15,Female,18 - 30,0 - 1,2,5,2,1,5,Mr. Bright side the killers,...,0.5390,0.513000,0.2155,0.2915,122.4605,0.464350,0.599500,3.000000,0.0,3

In [ ]:
# combine the 3 dataframes (each with only one song per row entry) into a new dataframe (master_new)

master_new = df_song1.append(df_song2, ignore_index=True)
master_new = master_new.append(df_song3, ignore_index=True)
master_new     # 705 rows = 235 x 3

               timestamp  gender  ... health_categorical song_order
0    05/11/2016 14:34:00    Male  ...                1.0          1
1    05/11/2016 14:45:26    Male  ...                1.0          1
2    05/11/2016 14:45:41  Female  ...                1.0          1
3    05/11/2016 14:45:55    Male  ...                1.0          1
4    05/11/2016 14:49:15  Female  ...                0.0          1
..                   ...     ...  ...                ...        ...
700  08/11/2016 11:48:52  Female  ...                1.0          3
701  08/11/2016 12:02:50    Male  ...                0.0          3
702  08/11/2016 12:38:19  Female  ...                1.0          3
703  08/11/2016 19:39:43  Female  ...                0.0          3
704  12/12/2016 18:59:19    Male  ...                1.0          3

[705 rows x 23 columns]

## Sort data

In [ ]:
# sort the data by id
master_new = master_new.sort_values(['id', 'song_order'])
master_new

               timestamp  gender  ... health_categorical song_order
0    05/11/2016 14:34:00    Male  ...                1.0          1
235  05/11/2016 14:34:00    Male  ...                1.0          2
470  05/11/2016 14:34:00    Male  ...                1.0          3
1    05/11/2016 14:45:26    Male  ...                1.0          1
236  05/11/2016 14:45:26    Male  ...                1.0          2
..                   ...     ...  ...                ...        ...
468  08/11/2016 19:39:43  Female  ...                0.0          2
703  08/11/2016 19:39:43  Female  ...                0.0          3
234  12/12/2016 18:59:19    Male  ...                1.0          1
469  12/12/2016 18:59:19    Male  ...                1.0          2
704  12/12/2016 18:59:19    Male  ...                1.0          3

[705 rows x 23 columns]

# Merge data

Merge song features into new master file/dataframe 
*   So song features correspond to individual songs (instead of having them averaged out over the 3 songs each person chooses)

## Prep data for merging

In [ ]:
# remove averaged song features from master_new (will replace these values from the other data file)

to_exclude = ['energy',
              'dance',
              'liveness',
              'valence',
              'tempo',
              'instrumental',
              'acoustic',
              'popularity'
              ]

master_new = master_new.drop(columns=to_exclude) 

master_new

               timestamp  gender  ... health_categorical song_order
0    05/11/2016 14:34:00    Male  ...                1.0          1
235  05/11/2016 14:34:00    Male  ...                1.0          2
470  05/11/2016 14:34:00    Male  ...                1.0          3
1    05/11/2016 14:45:26    Male  ...                1.0          1
236  05/11/2016 14:45:26    Male  ...                1.0          2
..                   ...     ...  ...                ...        ...
468  08/11/2016 19:39:43  Female  ...                0.0          2
703  08/11/2016 19:39:43  Female  ...                0.0          3
234  12/12/2016 18:59:19    Male  ...                1.0          1
469  12/12/2016 18:59:19    Male  ...                1.0          2
704  12/12/2016 18:59:19    Male  ...                1.0          3

[705 rows x 15 columns]

In [ ]:
# remove unwanted columns from songs_list

to_exclude = ['Unnamed: 0', 
              'Unnamed: 0.1', 
              'Unnamed: 0.1.1',
              'instrumetnal']     # remove the wrongly spelled column

songs_list_new = songs_list.drop(columns=to_exclude) 

songs_list_new

      id  ...                                             genres
0      1  ...  ['hip hop', 'pop', 'pop rap', 'rap', 'southern...
1      3  ...                            ['k-pop', 'korean r&b']
2      3  ...     ['k-hop', 'k-pop', 'korean pop', 'korean r&b']
3      3  ...     ['k-hop', 'k-pop', 'korean pop', 'korean r&b']
4      4  ...                ['peruvian indie', 'peruvian rock']
..   ...  ...                                                ...
541  227  ...  ['hip hop', 'memphis hip hop', 'rap', 'souther...
542  227  ...  ['hip hop', 'memphis hip hop', 'rap', 'souther...
543  229  ...                             ['australian hip hop']
544  230  ...                                ['pop', 'pop rock']
545  231  ...         ['mellow gold', 'rock drums', 'soft rock']

[546 rows x 13 columns]

## Merge in additional data columns

In [ ]:
# join the dataframes by the songs column

# if we are excluding the id from songs_list, merge with songs_list_new instead

master_new = master_new.join(songs_list_new.set_index('songs'), 
                                  on='songs', 
                                  lsuffix = '_master',
                                  rsuffix = '_song')
master_new

               timestamp  ...                                             genres
0    05/11/2016 14:34:00  ...  ['canadian hip hop', 'canadian pop', 'hip hop'...
235  05/11/2016 14:34:00  ...                                                NaN
470  05/11/2016 14:34:00  ...                                                NaN
1    05/11/2016 14:45:26  ...  ['hip hop', 'rap', 'southern hip hop', 'trap',...
236  05/11/2016 14:45:26  ...                                                NaN
..                   ...  ...                                                ...
468  08/11/2016 19:39:43  ...                           ['pop', 'post-teen pop']
703  08/11/2016 19:39:43  ...       ['dance pop', 'pop', 'post-teen pop', 'r&b']
234  12/12/2016 18:59:19  ...  ['brill building pop', 'bubblegum pop', 'class...
469  12/12/2016 18:59:19  ...                               ['dance pop', 'pop']
704  12/12/2016 18:59:19  ...  ['australian alternative rock', 'indietronica'...

[705 rows x 27 columns]

# Data cleaning

## Remove unneeded columns and rows

In [ ]:
# remove other unneeded columns 
# do we want to drop the 'id_master' and 'id_song'?
to_exclude = ['timestamp']

master_new = master_new.drop(columns=to_exclude) 

# remove NA entries (rows with blanks)
# check if we are ok with certain columns having NA entries (eg. song name or artist name?)
# if so, need to code for exceptions to the removal of NA entries
master_new = master_new.dropna(axis=0)  # drop rows with NA entries

master_new   # 551 rows

     gender  ...                                             genres
0      Male  ...  ['canadian hip hop', 'canadian pop', 'hip hop'...
1      Male  ...  ['hip hop', 'rap', 'southern hip hop', 'trap',...
471    Male  ...  ['hip hop', 'pop', 'pop rap', 'rap', 'southern...
2    Female  ...  ['canadian pop', 'indie poptimism', 'modern al...
3      Male  ...                            ['k-pop', 'korean r&b']
..      ...  ...                                                ...
468  Female  ...                           ['pop', 'post-teen pop']
703  Female  ...       ['dance pop', 'pop', 'post-teen pop', 'r&b']
234    Male  ...  ['brill building pop', 'bubblegum pop', 'class...
469    Male  ...                               ['dance pop', 'pop']
704    Male  ...  ['australian alternative rock', 'indietronica'...

[551 rows x 26 columns]

## Reset index

In [ ]:
# reset the index to tidy the data
master_new = master_new.set_index(np.arange(len(master_new.index)))

master_new

     gender  ...                                             genres
0      Male  ...  ['canadian hip hop', 'canadian pop', 'hip hop'...
1      Male  ...  ['hip hop', 'rap', 'southern hip hop', 'trap',...
2      Male  ...  ['hip hop', 'pop', 'pop rap', 'rap', 'southern...
3    Female  ...  ['canadian pop', 'indie poptimism', 'modern al...
4      Male  ...                            ['k-pop', 'korean r&b']
..      ...  ...                                                ...
546  Female  ...                           ['pop', 'post-teen pop']
547  Female  ...       ['dance pop', 'pop', 'post-teen pop', 'r&b']
548    Male  ...  ['brill building pop', 'bubblegum pop', 'class...
549    Male  ...                               ['dance pop', 'pop']
550    Male  ...  ['australian alternative rock', 'indietronica'...

[551 rows x 26 columns]

# Export data into new file

In [ ]:
master_new.to_csv('master_new.csv')